<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center">Bienvenidos {{name}} {{lastName}}</h1>
          <h2 class="text-center">Tu información registrada</h2>
          <div class="text-center">
            <p><strong>Email:</strong> {{email}}</p>
            <p><strong>Edad:</strong> {{age}} años</p>
            <p><strong>Rol:</strong> {{rol}}</p>
          </div>
          <div class="text-center">
            <button
              class="btn btn-primary"
              onclick="location.href='/api/products'"
            >IR A VER LOS PRODUCTOS</button>
            <button
              class="btn btn-danger"
              onclick="location.href='/sessions/logout'"
            >LOGOUT</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>

</html>