<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button
      class="btn btn-primary"
      onclick="location.href='/sessions/current'"
    >VOLVER</button>
    <div class="card-group d-flex">
      <div
        class="row row-cols-1 row-cols-1 row-cols-md-3 row-cols-lg-4 col-sm-12"
        id="cards"
      >
        {{#each users}}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">nombre: {{this.first_name}}</h5>
              <h5 class="card-title">apellido: {{this.last_name}}</h5>
              <p class="card-text">email:{{this.email}}
              </p>
              <p class="card-text">edad:{{this.age}}
              </p>
              <p class="card-text">rol:{{this.role}}
              </p>
              <p class="card-text">carrito:{{this.cart}}
              </p>
              <p class="card-text">idUser:{{this._id}}
              </p>
              <p class="card-text">Fecha de creación del usuario:{{this.user_creation_date}}
              </p>
              <p class="card-text">Último ingreso a la plataforma:{{this.last_login}}
              </p>
            </div>
            <div id="inputDelete">
              <form action="/sessions/users" method="post">
                <button
                  class="btn btn-danger"
                  type="submit"
                  name="borrar"
                  value="{{this._id}}"
                >ELIMINAR USUARIO</button>
              </form>
            </div>
            <div id="inputDelete">
              <form action="/sessions/users" method="post">
                <button
                  class="btn btn-primary"
                  type="submit"
                  name="modificarUser"
                  value="{{this.email}}"
                >MODIFICAR ROL A USER</button>
              </form>
            </div>
            <div id="inputDelete">
              <form action="/sessions/users" method="post">
                <button
                  class="btn btn-primary"
                  type="submit"
                  name="modificarPremium"
                  value="{{this.cart}}"
                >MODIFICAR ROL A PREMIUM</button>
              </form>
            </div>
            <div id="inputDelete">
              <form action="/sessions/users" method="post">
                <button
                  class="btn btn-primary"
                  type="submit"
                  name="modificarAdmin"
                  value="{{this._id}}"
                >MODIFICAR ROL A ADMIN</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>