<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"
    ></script>
  </head>

  <body>
    <button onclick="location.href='/api/products'">VOLVER</button>
    {{#if alertMessage}}
      <script>
        const Toast = Swal.mixin({ toast: true, position: "top-end",
        showConfirmButton: false, timer: 5000, timerProgressBar: true, didOpen:
        (toast) => { toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer); }, });
        Toast.fire({ icon: '{{type}}', title: '{{title}}' });
      </script>
    {{/if}}
    <header class="row justify-content-center">
      <div class="mt-2 col-9 col-md-4 d-flex justify-content-center">
        <form action="/api/cart" method="post">
          <button
            class="btn btn-primary"
            type="submit"
            name="crear"
            value="crear"
          >CREAR CARRITO</button>
        </form>
      </div>
    </header>
    <main class="row justify-content-center">
      <H2 class="text-center mt-4 mb-2"> CARGAR EL CARRITO</H2>
      <form
        class="mt-2 col-9 col-md-4 align-items-sm-center"
        id="formCarts"
        action="/api/cart"
        method="post"
        name="updateCart"
      >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fs-5">ID DEL CARRITO</label>
          <input
            name="idCart"
            type="text"
            class="form-control"
            id="idCart"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fs-5">ID DEL
            PRODUCTO</label>
          <input
            name="idProduct"
            type="text"
            class="form-control"
            id="idProduct"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label
            for="exampleInputEmail1"
            class="form-label fs-5"
          >CANTIDAD</label>
          <input
            name="quantity"
            type="number"
            class="form-control"
            id="quantity"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-primary d-flex justify-content-center"
            id="enviar"
            value="enviar"
            name="enviar"
          >ENVIAR</button>
        </div>
      </form>
    </main>
    <div class="card-group d-flex">
      <div
        class="row row-cols-1 row-cols-1 row-cols-md-3 row-cols-lg-4 col-sm-12"
        id="cards"
      >
        {{#each carts}}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Id del carrito: {{id}}</h5>
              <p class="card-text">Productos ingresados:
                {{#each products}}
                  {{this}}
                {{/each}}
              </p>
            </div>
            <div id="inputDelete">
              <form action="/api/cart" method="post">
                <button
                  class="btn btn-primary"
                  type="submit"
                  name="borrar"
                  value="{{this.id}}"
                >ELIMINAR</button>
              </form>
            </div>
          </div>
        {{/each}}

      </div>
    </div>

  </body>

</html>