<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-pzjw8GBoNUwyjMVHP8OED+AJ0Sp+ZWKVMI9EXd0vg3tk7q39MnJO/cKTF5BjQfTU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"
    ></script>
    <title>{{titulo}}</title>
  </head>
  <body>
    {{#if alertMessage}}
      <script>
        const Toast = Swal.mixin({ toast: true, position: "top-end",
        showConfirmButton: false, timer: 5000, timerProgressBar: true, didOpen:
        (toast) => { toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer); }, });
        Toast.fire({ icon: '{{type}}', title: '{{title}}' });
      </script>
    {{/if}}
    <button
      onclick="location.href='/sessions/logout'"
      class="btn btn-danger"
    >LOGOUT</button>
    <button
      onclick="location.href='/sessions/current'"
      class="btn btn-primary"
    >VOLVER</button>
    <h2>Hola {{user.first_name}} {{user.last_name}}</h2>
    {{#if isUser}}
      <h4>Rol: Usuario</h4>
      <button onclick="location.href='/chat'" class="btn btn-primary">IR AL CHAT</button>
      <button
        onclick="location.href='/api/cart/{{user.cart}}/purchase'"
        class="btn btn-primary"
      >VER CARRITO</button>
    {{/if}}
    {{#if isPremium}}
      <h2>Sos premium</h2>
      <button
        onclick="location.href='/api/products/realtimeproducts'"
        class="btn btn-primary"
      >GESTIONAR PRODUCTOS</button>
      <button
        onclick="location.href='/api/cart/{{user.cart}}/purchase'"
        class="btn btn-primary"
      >VER CARRITO</button>
    {{/if}}
    {{#if verProductos}}
      <div class="card-group d-flex">
        <div
          class="row row-cols-1 row-cols-md-3 row-cols-lg-4 col-sm-12"
          id="producto"
        >
          {{#each products}}
            <div class="card mb-3">
              <div class="text-center">
                <img
                  src="{{this.thumbnail}}"
                  class="card-img-top img-thumbnail"
                  alt="Imagen del producto"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Título: {{this.title}}</h5>
                <p class="card-text">Descripción: {{description}}</p>
                <p class="card-text">Precio: {{price}}</p>
                <p class="card-text">Código: {{code}}</p>
                <p class="card-text">Stock: {{stock}}</p>
                <p class="card-text">Estado: {{status}}</p>
                <p class="card-text">Categoría: {{category}}</p>
                <p class="card-text">ID: {{_id}}</p>
              </div>
              <form action="/api/products" method="post" class="card-footer">
                <div class="mb-3">
                  <input
                    placeholder="CANTIDAD"
                    type="number"
                    name="quantity"
                    class="form-control"
                    id="codigo"
                    aria-describedby="emailHelp"
                    min="1"
                    max="{{this.stock}}"
                    required
                  />
                </div>
                <button
                  class="btn btn-primary"
                  type="submit"
                  name="id_prod"
                  value="{{this._id}}"
                >AÑADIR ARTÍCULO AL CARRITO</button>
              </form>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </body>
</html>