<button onclick="location.href='/sessions/logout'">LOGOUT</button>
<h2> Hola {{user.first_name}} {{user.last_name}}</h2>
{{#if isAdmin}}
  <h4>Rol: Administrador</h4>
{{else}}
  <h4>Rol: Usuario</h4>
{{/if}}
<div class="card-group d-flex">
  <div
    class="row row-cols-1 row-cols-md-3 row-cols-lg-4 col-sm-12"
    id="producto"
  >
    {{#each products}}
      <div class="card">
        {{!-- <div class="text-center">
          <source srcset="..." type="image/svg+xml" />
          <img
            src="{{this.thumbnail}}"
            class="img-fluid img-thumbnail"
            alt="Imagen del producto"
          /></div> --}}
        <div class="card-body">
          <h5 class="card-title">titulo: {{this.title}}</h5>
          <p class="card-text">descripcion: {{description}}</p>
          <p class="card-text">precio: {{price}}</p>
          <p class="card-text">codigo: {{code}}</p>
          <p class="card-text">stock: {{stock}}</p>
          <p class="card-text">estado: {{status}}</p>
          <p class="card-text">categoria: {{category}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>